APP_NAME=TecStore
APP_ENV=local
APP_KEY=         # <- Se genera dentro del contenedor
APP_DEBUG=false
APP_URL=https://laravel-app-620844049774.us-central1.run.app

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Base de datos: solo SQLite
DB_CONNECTION=sqlite
#DB_HOST=127.0.0.1
#DB_PORT=3306
#DB_DATABASE=tec_store
#DB_USERNAME=root
#DB_PASSWORD=

# Sesiones, caché y colas simples (funcionan bien en SQLite)
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
CACHE_STORE=file

FILESYSTEM_DISK=local

# Correo: solo log
MAIL_MAILER=log
MAIL_FROM_ADDRESS="no-reply@tecstore.com"
MAIL_FROM_NAME="TecStore"

# PayPal (si el frontend lo usa desde Laravel Blade o Vite SSR)
VUE_APP_PAYPAL_CLIENT_ID=AatU_HPpgHp7pOSpKyWkkdtOV8kKsZjdTFs-yL3OtCHfQUGYikJv_8Am-zzHHC38v2JfVwmAaOf8DCDg
